*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(214, 214, 214);
    font-family: "Carter One", system-ui;
}
a{
    text-decoration: none;
    color: #e7fafc;
    text-transform: uppercase;
}
.dark-mode{
    background-color: #333;
    #mode-changer{
        background-color: #000;
        color: hsl(0, 0%, 100%);
    }
    .counterContainer{
        box-shadow: rgb(196, 196, 195) 18px 20px 20px;
        background-color: #e7fafc;
    }
    #Counter{
        color: rgb(214, 214, 214);
        background-color: #333;
    }
}
.startB{
    display: block;
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top:0;
    z-index: 100;
    background-color: black;
    color: aquamarine;
}
.startB button{
    max-width: 500px;
    margin: auto;
    position: fixed;
    top: 300px;
    left: 32%;
}

#mode-changer{
    background-color: skyblue;
    color: yellow;
    width: 75px;
    font-size: 25px;
    border: none;
    border-radius: 80%;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 0px;
}
.spaceContainer{
    min-height: 100px;
}
.counterContainer{
    background-color: bisque;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    box-shadow: #333 18px 20px 20px;
    border-radius: 20px;
}
.counterContainer h1{
    margin: 25px 0;
    text-align: left;
    margin-left: 27px;
}
.btn-container{
    margin-top: 50px;
}
button{
    padding: 15px 12px;
    background-color: rgb(110, 15, 129);
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    width: 40%;
    border-radius: 10px;
    text-transform: uppercase;
    // font-family: "Kiwi Maru", serif;

    font-family: "Carter One", system-ui;
}
#Counter{
    font-size: 20px;
    margin: 15px;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    padding: 5px;
}
#save-ele{
    display: none;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
#resetButton{
    background-color: rgb(163, 19, 19);

}
#saveButton{
    background-color: rgb(21, 139, 21);
   
}
#incrButton{
    background-color: rgb(18, 61, 155);
}
.output-container{
    text-align: left;
    font-size: 15px;
    margin-left: 30px;
}

footer{
    background-color: #000000c5;
    display: flex;
    justify-content: space-between;
    color: #e7fafc;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #f50000; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
@media screen and (max-width: 560px) {
    .counterContainer{
        max-width: 80%;
        box-shadow: #333 8px 10px 20px;
    }
    .dark-mode{
        .counterContainer{
            box-shadow: rgb(196, 196, 195) 8px 10px 20px;
        }
    }
    footer{
        position: static;
        margin-top:100px;
    }

}
@media screen and (max-width: 425px) {
    .row{
        flex-direction: column;
        margin-bottom: 0;
    }
    .btn-container button{
        width: 100%;
        margin-bottom: 20px;
    }
    footer{
        flex-direction: column;
    }
}